body{
background-color:CCC6A3;
font-family: 'Cinzel Decorative', cursive;
}

nav a{
  text-decoration:none;
  color:#A1B1B1;
  background-color:black;
  border-radius:2px;
  padding:2px;
  margin:5px;
  display:inline-block;
  transition:4 s all;
  text-align:right;
 
  
}


na a:hover{
  background-color:gray;

}
header{
  text-align:cenetr;
  
}
header img{
  border-radius:50%;
}
header{
  color:black;
  font-family:'Cinzel Decorative';
  
}
h2{
  color:red;
}

section {
  text-align:center;
  background-image:url(http://www.miamidade.gov/portmiami/images/headers/things-to-do-1.jpg);
  height:300px;
  background-size:cover;
}
button{
  color:red;
  background-color:blue;
  border:none;
  border-radius:8px;
  padding:5px;
  margin-top:90px;
  font-size:49px;
}

}
  
  
  
  
  

  
  
  
  
  
  
  
  
}
}


