


body{

color:#6B0E00;
font-family:sans-serif;
}

nav a{
  text-decoration:none;
  color:black;
  background-color:red;
  border-radius:2px;
  padding:2px;
  margin:5px;
  display:inline-block;
  transition:1s all;
  
}


na a:hover{
  background-color:black;
}

h2{
  color:#;
}

