


body{

color:#6B0E00;
font-family:sans-serif;
}

nav a{
  text-decoration:none;
  color:#8F9E9F;
  background-color:white;
  border-radius:2px;
  padding:2px;
  margin:5px;
  display:inline-block;
  
}
}
h2{
  color:#;
}

